// app global css
/*@font-face {
  font-family: Ginora-Sans-Regular;
  src: url(css/fonts/Ginóra-Sans-Regular.woff);
}

.logo-font {
  font-family: 'Ginora-Sans-Regular'
}
*/


.content-container {
    padding-left: 40px;
    padding-right: 40px;
}

.purp-button {
	color: white;
	background-color: #2C0099;
	padding: 14px 32px 14px 32px;
}


.singup-txt {
	color: white;
	padding: 36% 0% 0% 27%;
	position: absolute;
}

.footer-singup {
	padding: 20% 27% 20% 6%
	width: 300px;
}

.padding-top {
	padding-top: 20px;
}


@media only screen and (min-width: 1023px) {
	.menu-bar {
		display: none;
	}
}
