// app global css
/*@font-face {
  font-family: Ginora-Sans-Regular;
  src: url(css/fonts/Ginóra-Sans-Regular.woff);
}

.logo-font {
  font-family: 'Ginora-Sans-Regular'
}
*/


.content-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1px;
}

.purp-button {
	color: white;
	background-color: #2C0099;
	padding: 14px 32px 14px 32px;
	margin-top: 20px;
}

.purp-button:hover {
	background-color: #33DDA8;
}

.purp-button-last {
	margin-top: 20px;
}

.content-container {
	max-width: 1000px;
}

.button-dash {
  position: relative;
  padding: 15px 40px;
  text-align: center;
}

.home-button {
	border-radius: 10px;
	padding: 10px;
	filter: drop-shadow(0 0 0.25rem gray);
	background-color: #FFFFFF;
	color: #06042A;
	text-decoration: none!important;
	margin-bottom: 50px;
}

.home-button:hover {
	background-color: #5800FF;
	color: white;
	filter: none;
}

.left-hb {
	margin-right: 40px;
}

.btnimg-dash {
    max-width: 65px;
    display: block;
    margin-left: 24%;
    margin-right: 0;
    padding-top: 10px;
    max-height: 90px;
}

.q-layout__section--marginal {
    background-color: #2c0099 !important;
    color: #fff;
}

.singup-txt {
	color: white;
	padding: 36% 0% 0% 27%;
	position: absolute;
}

.footer-singup {
	padding: 20% 27% 20% 6%
	width: 300px;
}

.padding-top {
	padding-top: 80px;
}

.footer-logo {
	padding: 80% 25% 0% 25%;
}

.footer-inner-logo {
    padding: 20px;
    max-width: 170px;
    margin: 20px 0px 0px 55px;
}

.q-drawer--left.q-drawer--bordered {
    border-right: 1px solid #EDEDED;
    background: white;
}

.profile-header {
	border-bottom: 1px solid #EDEDED;
	z-index: 100;
	margin-top: 12px;
}

.q-item-m {
    min-height: 70px;
    padding: 8px 16px;
    color: inherit;
    transition: color 0.3s, background-color 0.3s;
}

.q-item-m:hover {
	background: #2c0099;
	color: white;
}

.profile-pic {
	border: 3px solid #33DDA8;
}

.no-style {
	color: black;
	text-decoration: none;
}

.user-name {
	text-decoration: none;
	color: #33DDA8;
	font-size: 18px;
}

.level-indu {
	color: #000;
	font-weight: bold;
}

.adress-kltn {
	color: black;
}

.level-button {
	background: #2C0099;
	color: white;
}

.level-button:hover {
	background: #33DDA8;
}

.adress-kltn-btn {
	background: #2C0099 !important;
	color: white;
}

.adress-kltn-btn:hover {
	background: #33DDA8 !important;
}

.login {
	width: 250px;
}

.q-tab {
    padding: 0 4px;
    margin-top: 107px;
}

.scroll-main-dash {
    height: calc(100% - 155px);
    margin-top: 155px;
    border-right: 1px solid #ddd;
}

.bg-red {
    background: #33DDA8 !important;
}

.q-mt-md, .q-my-md {
    margin-top: 8px;
}

.main-dash-styl {
    height: calc(100% - 107px);
    margin-top: 107px;
    border-right: 1px solid #ddd;
}

.padding-top-logo {
    padding-top: 10px;
}

.partner-logo-signup {
	padding-top: 70px;
}

.certificate-bg {
	z-index: o;
}

.certificate-content {
	z-index: 1;
	text-align: center;
}

.certificate-logo {
	max-width: 200px;
}

.view-ctf01 {
    color: #fff;
    background-color: #2c0099;
    padding: 14px 32px 14px 32px;
    margin-right: 20px;
}

.view-ctf02 {
    color: #fff;
    background-color: #2c0099;
    padding: 14px 32px 14px 32px;
}

.view-ctf02:hover {
	background-color: #33DDA8;
}

.view-ctf01:hover {
	background-color: #33DDA8;
}

.dashboard-link {
	color: black;
}

.dashboard-link:hover {
	color: white;
}

@media only screen and (min-width: 1023px) {
	.menu-bar {
		display: none;
	}
}

a:link, a:visited {
 
  text-decoration: none;
 
}


/*
Import Keystore

400PX*/