// app global css
/*@font-face {
  font-family: Ginora-Sans-Regular;
  src: url(css/fonts/Ginóra-Sans-Regular.woff);
}

.logo-font {
  font-family: 'Ginora-Sans-Regular'
}
*/


.content-container {
    padding-left: 40px;
    padding-right: 40px;
}

.purp-button {
	color: white;
	background-color: #2C0099;
	padding: 14px 32px 14px 32px;
}

.content-container {
	max-width: 1000px;
}

.button-dash {
  position: relative;
  padding: 15px 40px;
  text-align: center;
}

.home-button {
	border-radius: 10px;
	padding: 10px;
	filter: drop-shadow(0 0 0.25rem gray);
	background-color: #FFFFFF;
	color: #06042A;
	text-decoration: none!important;
	margin-bottom: 50px;
}

.home-button:hover {
	background-color: #5800FF;
	color: white;
	filter: none;
}

.left-hb {
	margin-right: 40px;
}

.btnimg-dash {
    max-width: 65px;
    display: block;
    margin-left: 24%;
    margin-right: 0;
    padding-top: 10px;
}

.singup-txt {
	color: white;
	padding: 36% 0% 0% 27%;
	position: absolute;
}

.footer-singup {
	padding: 20% 27% 20% 6%
	width: 300px;
}

.padding-top {
	padding-top: 20px;
}

.footer-logo {
	padding: 80% 25% 0% 25%;;
}


@media only screen and (min-width: 1023px) {
	.menu-bar {
		display: none;
	}
}
